.colaboraciones-container {
  background-color: #1B203C; /* Fondo negro */
  height: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.colaboraciones-container h2 {
  background-image: linear-gradient(to top left, #162b63, #FBFBFB, #172554);
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: mover-gradiente 2s infinite alternate;
  font-size: 2rem;
  text-align: center;
}

.logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Espacio entre las flechas y el carrusel */
  position: relative;
  width: 100%;
}

.carrusel-items {
  display: flex;
  gap: 5rem;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  border-radius: 20px;
  justify-content: center;
  width: 90%; /* Ajusta el ancho del carrusel */
}

.logo {
  width: 400px; /* Ajusta el tamaño del logo */
  height: auto;
  object-fit: contain; /* Mantiene las proporciones del logo */
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.3); /* Efecto de agrandamiento al pasar el mouse */
}

.left, .rigth {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5); /* Transparente */
  cursor: pointer;
  z-index: 10;
}

.left {
  left: 1rem; /* Posiciona la flecha izquierda */
}

.rigth {
  right: 1rem; /* Posiciona la flecha derecha */
}

.left:hover, .rigth:hover {
  transform: scale(1.25); /* Efecto de agrandamiento al pasar el mouse */
  color: white;
}

@keyframes mover-gradiente {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@media (max-width: 768px) {
  .logos-container {
    flex-wrap: wrap; /* Hacer que los logos se acomoden en varias filas en pantallas pequeñas */
    gap: 1.5rem;
  }
  .left, .rigth {
    display: none; /* Oculta las flechas en pantallas pequeñas */
  }
  .carrusel-items {
    gap: 2rem;
  }
  .logo {
    max-width: 80px; /* Ajusta el tamaño de los logos en dispositivos móviles */
  }
}
