.colaboraciones-container {
  background-color: #000; /* Fondo negro */
  padding: 2rem;
}

.colaboraciones-container h2 {
  background-image: linear-gradient(to top left, #162b63, #3b82f6, #172554);
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: mover-gradiente 2s infinite alternate;
  font-size: 2rem;
}
.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* Espacio entre los logos */
}
.carrusel-items{
  gap: 14rem;
  margin:6px auto;
  padding: 1rem;
  overflow: hidden;
  border-radius: 50px;
}
.logo {
  position: relative;
  width: 180px;  /* Tamaño fijo en ancho */
  height: 80px;  /* Tamaño fijo en altura */
  object-fit: contain; /* Mantiene las proporciones del logo */
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.3); /* Efecto de agrandamiento al pasar el mouse */
}

.mx-2{
  border-bottom: 2px solid #0ea5e9;
  border-right: 2px solid #0ea5e9;
  filter: drop-shadow(0 0 10px rgba(70, 85, 223, 0.8));
}

.left,.rigth{
  background-image: linear-gradient(#1e40af, #1d4ed8,#2563eb);
  border-radius: 50%;
}

.left:hover,
.rigth:hover{
  transform: scale(1.25);
  filter: drop-shadow(0 0 6px rgba(123, 136, 255, 0.8));
}

@keyframes mover-gradiente {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@media (max-width: 768px) {
  .logos-container {
    flex-wrap: wrap; /* Hacer que los logos se acomoden en varias filas en pantallas pequeñas */
    gap: 1.5rem;
  }
  .left, .rigth, .mx-2{
    display: none;
  }
  .carrusel-items{
    gap: 7rem;
  }
  .logo {
    max-width: 100px; /* Ajusta el tamaño de los logos en dispositivos móviles */
  }
}