  .bienvenida{
  padding: 15rem 9% 2rem;
  width: 600px;
  height: 56rem;
  text-align: left;
  font-family: calibri;
  }
  .bienvenida .fondo{
  width: 100%;
  position:absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 56rem;
  background-color:rgb(10, 10, 63);
  }
  .bienvenida h1{
  font-size: 1.5rem;
  color: #555;
  }
  .bienvenida h2{
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  }
  .bienvenida h3{
  font-size: 1.5rem;
  margin-top: 12px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 16px;
  width:fit-content;
  }
