.content-footer{
    padding: 1.5rem;
}
.content-logos-footer{
    padding: 1rem;
    align-items: center;
}
.content-logos-footer img{
    width: 10rem;
}
.logos-contacts{
    position: relative;
    gap: 2rem;
}
.logos-contacts a{
    color: #9ca3af;
    transition: 0.3s ease;
    position: relative;
}
.logos-contacts span{
    position: absolute;
    top: -30px;
    left: 10%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}
.logos-contacts li:hover span{
    opacity: 1;
    visibility: visible;
    top: -50px;
}
.logos-contacts .facebook:hover{
    color: #1d4ed8;
}
.logos-contacts .instagram:hover{
    color: #c026d3;
}
.logos-contacts .whatsapp:hover{
    color: #22c55e;
}
.logos-contacts .github:hover{
    color: #f8fafc;
}
.logos-contacts .email:hover{
    color: #dc2626;
}
.links-contacts{
    gap: 2rem;
    border-top: 1px solid #334155;
    padding: 3rem 2rem;
    grid-row: row;
}
.links-contacts p{
    font-weight: 600;
    text-align: left;
    font-size: 1.2rem;
    color: #f8fafc;
}
.links-enlaces{
    margin-top: 2rem;
}
.links-enlaces-footer{
    margin-top: 2rem;
    text-align:left;
}
.links-enlaces-footer span{
    color:#9ca3af;
}
.links-enlaces-footer span:hover{
    color: #d4d4d8;
}
@media (max-width: 640px) {
    .content-logos-footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .logos-contacts{
        margin-top: 2rem;
        flex-wrap: wrap;
    }
    .logos-contacts span{
        display: none;
    }
}