@media only screen and (max-width: 600px){
    .pageFooter{
        text-align: left;
        columns: 4;
        display: flex;
        flex-direction: column;
        font-family: calibri;
        width: 100%;
    }
    .logo img{
        width: 12rem;
    }
    .licencias h2, .contactos h3{
        font-size: 1.4rem;
        margin: 1rem;
    }
    .enlaces{
        columns: 2;
    }
    .enlaces p{
        margin-bottom: 5px;
        font-size: 1rem;
        text-decoration-line: underline;
        font-weight: 100;
    }
    .logo1{
        font-size: 1.1rem;
        width: fit-content;
        border-radius: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .logo2{
        font-size: 1.1rem;
        width: fit-content;
        border-radius: 40px;
        display: flex;
        align-items: center;
    }
    .logo1 span, .logo2 span{
        font-weight: 100;
    }
    .logo1 .icon, .logo2 .icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .copy{
        text-align: center;
        margin-top: 4rem;
        font-size: min(3vw,15px);
    }
}
@media only screen and (min-width: 600px){
    .pageFooter{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        font-family: calibri;
        text-align: left;
        width: 100%;
    }
    .logo img{
        width: 12rem;
    }
    .licencias{
        flex: 1;
        margin: 0 20px;
    }
    .licencias h2, .contactos h3{
        font-size: 1.4rem;
    }
    .enlaces p{
        font-size: 1rem;
        text-decoration: underline 1px;
        text-align:left;
    }
    .copy{
        text-align: center;
        width: 100%;
        font-size: 13px;
    }
    .logo1{
        font-size: 1.2rem;
        width: fit-content;
        border-radius: 40px;
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    .logo2{
        font-size: 1.2rem;
        width: fit-content;
        border-radius: 40px;
        display: flex;
        align-items: center;
    }
    .logo1 span, .logo2 span{
        font-weight: 100;
    }
    .logo1 .icon, .logo2 .icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
}