/* header.css */
@font-face {
  font-family: nazation;
  src: url("../fonts/nasalization-rg.otf"); /*Nueva tipografia*/
}
  /*Modificacion del contenedor de la cabezere*/
.header-container {
    padding: 0 20px;
    top: 0;
    left: 0;
    height: 6.5rem;
    z-index: 1;
    transition: all 0.2s ease;
  }
.boton-menu, .boton-close, .svg{
  display: none;
}
.header-right {
  gap: 20px;
  color: #fff;
  padding-right: 2%;
}

.header-right a{
  margin: 0 7px;
  font-size: 1.1rem;
  color: #eee;
  font-family: "Lucida Sans";
  font-weight: 800;
  position: relative;
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;
}
.header-right a:focus:after,
.header-right a:hover:after {
  width: 100%;
  left: 0%;
}
.header-right a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2.5px;
  background-color: #fff;
  transition-duration: 400ms;
  transition-property: width, left;
}

@media only screen and (max-width:765px) {
  .header-container {
    transition: 0.3s;
    z-index: 2;
  }
  .boton-menu, .boton-close, .svg{
    display: flex;
  }
  .fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(12px);
  }
  .header-right{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.2s;
    overflow: hidden;
    background-color: #0f172a;
    border-radius: 10px 0 0 10px;
    padding: 1rem 0;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
  }
  .menu.active{
    width: 280px;
    overflow-y: auto;
  }
  .boton-menu{
    margin-right: 4%;
  }
  .boton-close{
    margin: 4%;
    margin-bottom: 25px;
    color: #fff;
    transition: 0.3s;
  }
  .boton-close:hover{
    color: red;
    transform: translate(1px, -1px)
  }
  .header-right a{
    display: flex;
    font-size: 1.2rem;
    padding: 3px 10px;
    margin: 0 25px 20px;
    color: #7e8590;;
    align-items:center;
    text-align: left;
    font-weight: 100;
    width:80%;
    border-radius: 6px;
    transition: 0.3s;
  }
  .header-right a:hover{
    background-color: #5353ff;
    color: #fff;
    transform: translate(1px, -1px)
  }
  a .svg{
    margin-right: 10px;
  }
  .header-right a:focus:after,
  .header-right a:after,
  .header-right a:hover:after {
  display: none;
  }
}