/* header.css */
@font-face {
<<<<<<< HEAD
  font-family: 'Lucida Sans';
  
=======
  font-family: nazation;
  src: url("../fonts/nasalization-rg.otf"); /*Nueva tipografia*/
>>>>>>> 8f5de70f75699f8571d7994cdd3c5905f87f36f3
}

/*Modificacion del contenedor de la cabezere*/
.header-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #000000; /* Azul */
    padding: 0px 20px;
    margin:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    position: fixed;
    z-index: 1000;
    transition: all 0.2s ease;
  }

/*Se modifica el tomaño de la cabezera cuando baja 40px con el mause*/
.header-container.scrolled {
  background-color: #0000008f;
  height: 5rem;
  backdrop-filter: blur(15px);
}

/*cambio de color cuando se pasa el cursor*/
.header-container:hover{
  background-color: #000;
}

.header-left {
  display: flex;
  align-items: center;
}

.logomovi{
  width: 15rem;
  height: 6rem;
  transition: all 0.3s ease;
  will-change: filter;
}

/*Se diminuye el tamaño de la imagen junto a la cabezera*/
.logomovi.logoscrull {
  width: 10rem;
  height: 4rem;
}

.header-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 3vw;
}

.header-right {
  display: flex;
  gap: 20px;
  color: #ffffff;
  padding-right: 70px;
}

.header-right span{
  cursor: pointer;
  margin: 0 7px;
  font-size: 1.1rem;
  color: #eee;
<<<<<<< HEAD
  font-family: 'Lucida Sans';
  font-weight: 800;
  position: relative;
  text-transform: capitalize;
=======
  font-family: "Lucida Sans";
  font-weight: 800;
  position: relative;
  text-transform:capitalize;
>>>>>>> 8f5de70f75699f8571d7994cdd3c5905f87f36f3
  transition-duration: 400ms;
  transition-property: color;
}
.header-right span:focus,
.header-right span:hover{
  color: #fff;
}
.header-right span:focus:after,
.header-right span:hover:after {
  width: 100%;
  left: 0%;
}
.header-right span:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2.5px;
  background-color: #fff;
  transition-duration: 400ms;
  transition-property: width, left;
}
