.bg-white h1{
  font-family: "calibri";
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  padding: 0 0 2rem;
  color: black;
}
.bg-white span{
  color:#2563eb;
}
.proyectos-container{
  display: flex;
  height: 32vw;
}
.proyectos-1{
  position: relative;
  width: 65%;
  overflow: hidden;
}
.img-proyect1{
  display: flex;
}
.circular-button{
  position: absolute;
  display: flex;
  transform: translateX(-50%);
  bottom: 1.25rem;
  left: 50%;
}
.button-span{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.329);
}
.button-span:hover{
  background-color: rgba(255, 255, 255, 0.521);
} 
.proyectos-2{
  width: 32%;
  margin-left: 40px;
}
.proyectos-2 img{
  height: 49%;
  margin: 5px 0;
  border-radius: 30px;
}